body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  .container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    
  }

  /* 
  we put display:grid and then to make it 3x3 we put the columns 3 and rows 3.
  */
  
  .box {
    background: #ddd;
    border: solid black 2px;
    /* width: 100px;
    height:100px; */
    
  }
/*
this is going to make the boxes itself
*/