

*,
 *::before, 
*::after {
  box-sizing: border-box;
}

*{
margin: 0;
padding: 0;
line-height: calc(1em+0.5rem)
}

img{
max-width: 100%;
display:block;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}

html{
	scroll-behavior:smooth;
}

body{
font-family: 'Inter', sans-serif;
}

input, button, textarea, select{
font: inherit;
}

.header{
    padding: 2rem;
    background-color: rgb(72, 66, 66);
}

.header>h1{
    text-align: center;
    color:aliceblue;
    font-size: 3rem;
}

.tableSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    margin:1rem;
    gap: 1rem;
}

.intro{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addBtn{
    color: white;
    padding: 1.2rem;
    background-color: blue;
    border-radius: 1rem;
}

.table{

    width:1200px;
    display: grid;
 

    grid-template-areas: 
    "box1 box2 box2 box3 box3 box4 box5 box5 box6 box6"
    "Box1 Box2 Box2 Box3 Box3 Box4 Box5 Box5 Box6 Box6";

    
}

.box1{
    padding:1rem;
    border: solid black 2px;
    grid-area: box1;
}

.box2{
    padding:1rem;
    border: solid black 2px;
    grid-area: box2;
}

.box3{
    padding:1rem;
    border: solid black 2px;
    grid-area: box3;
}

.box4{
    padding:1rem;
    border: solid black 2px;
    grid-area: box4;
}

.box5{
    padding:1rem;
    border: solid black 2px;
    grid-area: box5;
}

.box6{
    padding:1rem;
    border: solid black 2px;
    grid-area: box6;
}

.Box1{
    padding:1rem;
    border: solid black 2px;
    grid-area: Box1;
}

.Box2{
    padding:1rem;
    border: solid black 2px;
    grid-area: Box2;
}

.Box3{
    padding:1rem;
    border: solid black 2px;
    grid-area: Box3;
}

.Box4{
    padding:1rem;
    border: solid black 2px;
    grid-area: Box4;
}

.Box5{
    padding:1rem;
    border: solid black 2px;
    grid-area: Box5;
}

.Box6{
    padding:1rem;
    border: solid black 2px;
    grid-area: Box6;
}


