*,
 *::before, 
*::after {
  box-sizing: border-box;
}

*{
margin: 0;
padding: 0;
line-height: 1.5;
}

img{
max-width: 100%;
display:block;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > img{
    height: 400px;
}


.fade-in{
    opacity: 0;
    /* this line makes the images invisible by defualt */

    animation: fadeIn 1s ease-in-out forwards;
    /* this adds the animation to the class and the duration of the transitiion is 1 second.
     forwards makes the animation final look stay on  */

    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* this is the name of the animation fadeIn created using keyframes
it goes from 0 opacity to 1.
basically it goes from invisible to fully visible  */