
*,
 *::before, 
*::after {
  box-sizing: border-box;
}

*{
margin: 0;
padding: 0;
line-height: calc(1em+0.5rem)
}

img{
max-width: 100%;
display:block;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}

html{
	scroll-behavior:smooth;
}

body{
font-family: 'Inter' , sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

input, button, textarea, select{
font: inherit;
}

/* code  */

.about_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
    height: 95vh;
    gap:10rem;
}


.secondary-header{
    color:rgb(26, 202, 70);
    font-size: 3rem;
}

.column{
    display: flex;
    gap:7rem;
}

.column_text{
    width:50%;
}

.column_text>p{
    width:50ch;
}

.container{

position: relative;
width:600px;

}

.image{
width:55%;
position: absolute;
border-radius: 10px;
transition: all .2s;

}

.img1{
    top:-5rem;
    left:-2.5rem;
    z-index:1
}
.img2{
    top:-2rem;
    right:5rem;
    z-index:2;
    
}
.img3{
    top:4rem;
    left:10%;
    z-index:3;
   
}

.image:hover {
    transform:scale(1.05) translateY(-.5rem);
    box-shadow: 2.5rem 4rem rgba(black, .5);
    border:solid lightblue 16px;
    z-index: 4;
}

.container:hover .image:not(:hover){
    transform: scale(.95);
}