body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background: #f3f3f3;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
  }
  
  .box {
    background: #ddd;
    border: solid black 2px;
    width: 100px;
    height:100px;
    
  }
  