*,
 *::before, 
*::after {
  box-sizing: border-box;
}

*{
margin: 0;
padding: 0;
line-height: 1.5;
}
.about{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 50px;
}
.about h1{
    font-size: 2.2rem;
}
.about >p{
    max-width: 75ch;
    font-size: 1.5rem;
}



.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
   
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }

    .about h1{
      font-size: 1.5rem;
    }

    .about p {

      max-width: 75ch;
      font-size: 1rem;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }

    .about h1{
      font-size: 1.1rem;
    }

    .about p {
      max-width: 60ch;
      font-size: .9rem;
    }
  }
  