.navbar-menu{
    display: flex;
    list-style-type: none;
    background-color: black;
    justify-content: center;
    gap:40px
}

.navbar-link {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

