
*,
 *::before, 
*::after {
  box-sizing: border-box;
}

*{
margin: 0;
padding: 0;
line-height: 1.5;
}

.section1{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 130vh;
  }

  
.section1 h1{
    color:aliceblue;
    font-size: 5rem;
  }
  
  
  .section1>p{
    max-width: 60ch;
    font-size: 1.5rem;
    color: aliceblue;
  }

  .background{
    background-color: #FFFFFF;
    background-image:url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 130vh;
    
  }



  .container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: solid red 2px;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }

    .section1 h1{
      color:aliceblue;
      font-size: 4rem;
    }
    
    
    .section1>p{
      max-width: 60ch;
      color: aliceblue;
    }
  
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
    .background{
        background-size: cover;
        background-repeat: no-repeat;
    }
    .section1 h1{
      color:aliceblue;
      font-size: 3rem;
    }
    
    
    .section1>p{
      max-width: 60ch;
      color: aliceblue;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
    .background{
  
        margin:0;
        background-size: 768px 70vh;
        background-repeat: no-repeat;
        height: 70vh;
        
    }
    .section1{
      height:70vh;
    }

    
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }

    .section1{
      height:60vh;
    }
    .section1 h1{
      color:aliceblue;
      font-size: 2rem;
    }
    .background{
      background-size: 640px 60vh;
      background-repeat: no-repeat;
      height:60vh;
  }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
    .section1{
      height:55vh;
      gap: 10px;
    }
    .background{
      width:100vw;
      height:55vh;
      background-size: cover;
      background-position: center;
      border: solid blue 2px;
      
    }
    .section1 h1{
      color:aliceblue;
      font-size: 1.5rem;
    }
    .section1>p{
      max-width: 35ch;
      color: aliceblue;
    }
  }
  