
*,
 *::before, 
*::after {
  box-sizing: border-box;
}

*{
margin: 0;
padding: 0;
line-height: 1.5;
}

.section1{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 120vh;
  }

  
.section1 h1{
    color:aliceblue;
    font-size: 5rem;
  }
  
  
  .section1>p{
    max-width: 60ch;
    font-size: 1.5rem;
    color: aliceblue;
  }

  .background{
    background-color: #FFFFFF;
    background-image:url(back.jpg);
    background-size: 100vw 120vh;
    background-repeat: no-repeat;
    height: 120vh;
    
  }



  .container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: solid red 2px;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }

    .background{
      background-size: 100vw 90vh;
      height: 90vh;     
  }
  .section1{
    height:90vh;
  }

    .section1 h1{
      color:aliceblue;
      font-size: 4rem;
    }
    
    
    .section1>p{
      max-width: 60ch;
      color: aliceblue;
    }
  
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
    .background{
        background-size: 100vw 80vh;
        height: 80vh;
    }
    .section1{
      height:80vh;
    }
    .section1 h1{
      color:aliceblue;
      font-size: 3rem;
    }
    
    
    .section1>p{
      max-width: 60ch;
      color: aliceblue;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
    .background{
        background-size: 100vw 70vh;
        height: 70vh;     
    }
    .section1{
      height:70vh;
    }

    .section1 h1{
      color:aliceblue;
      font-size: 2.8rem;
    }
    
    
    .section1>p{
      max-width: 60ch;
      font-size: 1rem;
      color: aliceblue;
    }

    
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }

    .section1{
      height:60vh;
    }
    .section1 h1{
      color:aliceblue;
      font-size: 2rem;
    }
    .section1>p{
      max-width: 60ch;
      font-size: 0.9rem;
      color: aliceblue;
    }
    .background{
      background-size: 100vw 60vh;
    
      height:60vh;
  }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
    .section1{
      height:45vh;
      gap: 10px;
    }
    .background{
      background-size: 100vw 45vh;
      height: 45vh;
    }

    .section1 h1{
      color:aliceblue;
      font-size: 1.5rem;
    }
    .section1>p{
      max-width: 40ch;
      font-size: 0.7rem;
      color: aliceblue;
    }
  }
  