
*,
 *::before, 
*::after {
  box-sizing: border-box;
}

*{
margin: 0;
padding: 0;
line-height: 1.5;
}


body {
  font-family: Arial, sans-serif;
}



.header {
  background-color: #333;
  color: white;
}

.HeadContainer {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 25px;   /* gap stays same always */
 
}

.nav a {
  color: white;
   text-decoration: none; /*gets rid of underline */
  
}

.about{
  display: flex;
  gap: 40px;
  align-items: center;
  
}

.about>img{
  width:500px;
  height:500px;

}

/* Responsive Design for Small Screens
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    flex-direction: column;
    gap: 10px;
  }
} */

.section1{
  background-color: gray;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: solid red 2px;
}


    
  /* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 100%;
  }
}