.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img{
    width: 500px;
    height: 500px;
    display: block;
}

.fade-in{
    opacity: 0;
    animation: fadeIn 4s ease-in-out forwards;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}