
.bgPicture {
    background-image: url(../back.jpg);
    background-size: 100vw 110vh;   /*this is the size of the background which is seperate from the actual container size*/
    height: 110vh;  /*this deals with the actual container size. It must be big enough to fit the background size of the picture*/
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;

    gap:3rem;
}

.intro >h1{
 color:white;
 font-size: 3rem;
}
.intro >p{
    color:white;
    font-size: 2rem;
    width: 60ch;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }


  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }

.bgPicture {
  background-image: url(../back.jpg);
  background-size: 100vw 95vh;   /*this is the size of the background which is seperate from the actual container size*/
  height: 95vh;  /*this deals with the actual container size. It must be big enough to fit the background size of the picture*/
}

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  gap:3rem;
}

.intro >h1{
color:white;
font-size: 2.5rem;
}
.intro >p{
  color:white;
  font-size: 1.5rem;
  width: 60ch;
}

  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
    .bgPicture {
      background-image: url(../back.jpg);
      background-size: 100vw 80vh;   /*this is the size of the background which is seperate from the actual container size*/
      height: 80vh;  /*this deals with the actual container size. It must be big enough to fit the background size of the picture*/
    }
    
    .intro{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80vh;
      gap:3rem;
    }
    
    .intro >h1{
    color:white;
    font-size: 2.5rem;
    }
    .intro >p{
      color:white;
      font-size: 1.5rem;
      width: 60ch;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }

    .bgPicture {
      background-image: url(../back.jpg);
      background-size: 100vw 70vh;   /*this is the size of the background which is seperate from the actual container size*/
      height: 70vh;  /*this deals with the actual container size. It must be big enough to fit the background size of the picture*/
    }
    
    .intro{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 70vh;
      gap:3rem;
    }
    
    .intro >h1{
    color:white;
    font-size: 1.8rem;
    }
  
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
    .bgPicture {
      background-image: url(../back.jpg);
      background-size: 100vw 40vh;   
      height: 40vh;  
    }
    
    .intro{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 40vh;
  
    }
    .intro >h1{
      color:white;
      font-size: 1.2rem;
      }
  }
  