
.bgPicture {
    background-image: url(../backgroundRE.jpg);
    height: 100vh;
    position: relative;
    background-size: cover;
}

.introHeader{
 color:white;
 font-size: 3rem;
 background-color:rgba(0, 0, 0, 0.4); 
 padding: 1rem;
 font-weight: 300;

 position: absolute;
 top:70%;
 left:50%;
 transform: translate(-50%, -50%);
}


.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }


  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
 
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
    .introHeader{
      font-size: 2.5rem;
      width:23ch;
    }

  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
    .bgPicture{
      background-position: center;
      
    }

   
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
    
    .bgPicture{
      height:80vh;
    
    }
    
    .introHeader{
    color:white;
    font-size: 1.8rem;
    }
  
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
    
    .bgPicture{
      height:70vh;
    }
    .introHeader{
    font-size: 1.5rem;
    width:24ch;
    }
  }
  

  @media (max-width: 350px) {
    .introHeader{
    font-size: 1.2rem;
    width:24ch;
    }
  }