.grid{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(450px, auto);
    gap: 20px; 
}

.selection{
    width:90%;
    margin: 3rem auto;
}

.productContainer{
    border: solid black 2px;
}

.productContainer > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

