
*,
 *::before, 
*::after {
  box-sizing: border-box;
}

*{
margin: 0;
padding: 0;
line-height: 1.5;
}



.section3{
 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section3 p {
    width:60ch;
    
    
}

.btn{
    padding: 0.8rem;
    border-radius: 10px;
    background-color: black;
    color:white;
    font-weight: 700;
}