.footer{
    background-color: black;
    color:lightgray;
    height:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    padding:2rem;
}

@media (max-width: 640px) {
    .footer p{
        padding:0;
    }
  }