.header{
    margin:1rem auto;
    padding: 1rem;
    width:80%;
    background-color: rgba(38, 98, 250, 0.9);
    border-radius: 100px;
    position: sticky;
    top: 1rem;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
}
.header-name-container{
    display: flex;
    align-items: center;
    gap:1rem;
    padding-left: .5rem;
}
.header-name{
    color:white;
    font-size: 2.5rem;
}
.header-icon{
    width:4rem;
    height:4rem;
    background-color: #fff;
    border-radius: 50%;

    text-align: center;
    font-size: 2rem;
    padding-top:.75rem;
    font-weight: 700;
}

header nav ul{
    list-style: none;
    color: white;
    display: flex;
    justify-content: end;
    gap:3rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu{
    background-color: black;
    padding: 3rem;
}

.menulist{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap:2rem;
}

@media (max-width: 1024px) {
   .header{
    border-radius: 0;
    width:100%;
    top:0;

    margin:0;
  
   }
   
   .header nav{
    display: none;
   }
   .header-name{
    color:white;
    font-size: 2rem;
}
  }
  

  @media (max-width: 475px) {
    .header-name{
        color:white;
        font-size: 1.5rem;
    }
  }
  