.portfolio-background{
    background-color: #e1e8fb;
}
.portfolio{
    padding:5rem;
    display: grid;
    grid-template-columns: repeat(2,35rem);
    grid-template-rows: repeat(2,32rem);
    place-content: center;
    gap:3rem;
}

.portfolio-box{
  background-color: white;
  border-radius: 16px;

    display: flex;
    flex-direction: column;
    padding:2rem;
    transition: all 0.3s;
    gap:1rem;
}
.portfolio-link{
  text-decoration: none;
  color:black;
}
.portfolio-picture{
    height:25rem;
    border-radius: 16px;
    transition: all 0.3s;
}

.portfolio-box:hover{
    transform: scale(1.05);
}
.portfolio-box:hover .portfolio-picture{
    transform: scale(1.05);
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
    .portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .portfolio-box{
        width:35rem;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
 
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
    .portfolio-box{
        width:20rem;
        height:20rem;
        padding:.75rem;
    }
    .portfolio-box h2{
        font-size:1rem;
    }
  }
  
  