.footer{
    background-color: #101d2c;;
    padding: 4rem;
}

.nav{
    list-style: none;
    display: flex;
    gap:4rem;
    justify-content: center;

}
.nav li a {
    text-decoration: none;
    color:#fff;
    font-size: 1.25rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}

.footer p {
      text-decoration: none;
    color:#fff;
    font-size: 1.25rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top:5rem;
}
  
  /* lg */
  @media (max-width: 1024px) {
    .nav li a {
        font-size: 1rem;
    }
    
  }
  
  /* md */
  @media (max-width: 768px) {
    .nav{
        flex-direction: column;
        align-items: center;
        gap:1rem;
       
    }
  }

  