.homes{
    margin:5rem 0;
    min-height:50rem;


    display: grid;
    grid-template-columns: repeat(3,20rem);
    grid-template-rows: repeat(2,28rem);
    place-content: center;
    gap:3rem;
}

.homeContainer{
    display: flex;
    flex-direction: column;
    
    background-color:#f1efee; 
    position: relative;
   
}
.homeTitle{
    background-color: #101d2c;
    color:white;
    padding:1rem 0;
    width:80%;

    position: absolute;
    top:47%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.homeBtn{
    background-color: #c69963;
    color:white;
    font-size: 1.2rem;
    width:100%;
    flex:0 0 10%;

}
.homeDetails{
    flex:1;
    display: flex;
    flex-direction: column;

   
}
.homePicture{
    flex:1;
}
.homeText{
    flex:1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    padding-top: 1rem;
   
}
.homeTextBox{
    width:100%;
    height: 100%;
   
    display: flex;
    gap:1rem;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
}

.homeIcon{
    width:1.5rem;
    height:1.5rem;
    fill: #c69963;
}


/* 2xl */
@media (max-width: 1536px) {
 
  }
  
  /* xl */
  @media (max-width: 1280px) {
    
  }
  
  /* lg */
  @media (max-width: 1024px) {
   .homes{
    grid-template-columns: repeat(2,20rem);
    grid-template-rows: repeat(3,28rem);
   }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .homes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:2rem;
        
    }
    .homeContainer{
        width:25rem;
        height:28rem;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .homeContainer{
        width:90%;
    }
  }
  