
.section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three columns of equal width */
    grid-template-rows: repeat(4,200px);
    gap: 10px; /* Adjust the gap between grid items */
    padding: 10px; /* Padding around the entire grid */
    width:50%;
    
  }
  
  .grid-item {
    background-color: #f2f2f2; /* Placeholder color, replace with your images */
    border: 1px solid #d9d9d9; /* Optional border for each item */
    /* Add background images for each item using inline styles or additional classes */
  }
  
  
  /* .grid-item:nth-child(9) {
    grid-column: span 3; /* The ninth item spans three columns */
  
    .grid-item13{
        background-color: #f2f2f2; 
        border: 1px solid #d9d9d9;
        grid-area: 4/2/4/3;
    }

    .grid-item14{
        background-color: #f2f2f2; 
        border: 1px solid #d9d9d9;
        grid-area: 4/3/4/4;
    }